# Frontend (buff-web)
buff-web/node_modules
buff-web/dist
buff-web/dist-ssr
buff-web/coverage
buff-web/*.log
buff-web/npm-debug.log*
buff-web/yarn-debug.log*
buff-web/yarn-error.log*
buff-web/pnpm-debug.log*
buff-web/lerna-debug.log*
buff-web/.env.local
buff-web/.env.*.local
buff-web/.vscode/*
!buff-web/.vscode/extensions.json
buff-web/.idea
buff-web/.DS_Store
buff-web/*.suo
buff-web/*.ntvs
buff-web/*.njsproj
buff-web/*.sln
buff-web/*.sw?
buff-web/*.tsbuildinfo
buff-web/.eslintcache
buff-web/auto-imports.d.ts
buff-web/components.d.ts
buff-web/.eslintrc-auto-import.json

# Backend (backend)
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.env
backend/venv/
backend/.venv/
backend/env/
backend/.idea/
backend/.vscode/
