[mysqld]
performance_schema=OFF
innodb_buffer_pool_size=64M
innodb_log_buffer_size=8M
innodb_redo_log_capacity=64M
table_open_cache=128
table_definition_cache=128
thread_cache_size=8
max_connections=30
tmp_table_size=16M
max_heap_table_size=16M
sort_buffer_size=512K
join_buffer_size=512K
read_buffer_size=256K
read_rnd_buffer_size=512K
binlog_expire_logs_seconds=86400
skip_name_resolve=ON
