MINIO_ROOT_USER=niroadmin
MINIO_ROOT_PASSWORD=change-this-password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
TZ=Asia/Shanghai
# MINIO_SERVER_URL=https://img.example.com
# MINIO_BROWSER_REDIRECT_URL=https://img.example.com/minio/
