server {
    listen 80;
    server_name ${NAPCAT_SERVER_NAME};
    return 301 https://${NAPCAT_SERVER_NAME}$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${NAPCAT_SERVER_NAME};

    ssl_certificate ${NGINX_SSL_CERT_PATH};
    ssl_certificate_key ${NGINX_SSL_CERT_KEY_PATH};
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    client_max_body_size ${NAPCAT_CLIENT_MAX_BODY_SIZE};

    location = / {
        return 301 /webui/;
    }

    location / {
        proxy_pass http://napcat:6099;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
        proxy_connect_timeout 60s;
    }
}

server {
    listen 80;
    server_name ${ASTRBOT_SERVER_NAME};
    return 301 https://${ASTRBOT_SERVER_NAME}$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${ASTRBOT_SERVER_NAME};

    ssl_certificate ${NGINX_SSL_CERT_PATH};
    ssl_certificate_key ${NGINX_SSL_CERT_KEY_PATH};
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    client_max_body_size ${ASTRBOT_CLIENT_MAX_BODY_SIZE};

    location / {
        proxy_pass http://astrbot:6185;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
        proxy_connect_timeout 60s;
    }
}
